td {
    background: black;
    border: 5px solid white;
}

h1 {
    margin: 40px auto 20px auto;
    width: 40%;
    text-align: center;
    font-size: 72px;
    font-weight: bold;
}

#container {
   margin: 40px auto 50px auto;
}

#controls {
    width: 430px;
    margin: 0 auto;
}

#controls2 {
    width: 100px;
    margin: 10px auto;
}

#make {
    width: 100px;
    height: 25px;
}

input {
    width: 100px;
    text-align: center;
}

.label {
    width: 100px;
    text-align: center;
    display: inline-block;
    margin: 0 2px;
    font-size: 24px;
}

#controls3 {
    width: 360px;
    margin: 20px auto;
}

.color {
    height: 25px;
    width: 50px;
    border: 2px solid black;
    margin: 0 5px;
    display: inline-block;
}

#blue {
    background: blue;
}
#red {
    background: red;
}
#orange {
    background: orange;
}
#purple {
    background: purple;
}
#white {
    background: white;
}